# Python
__pycache__/
*.pyc

# DVC
/data/*
!data/.gitignore
/.dvc/
/dvc.lock

# MLflow artifacts
mlruns/
models/

# Env & local
.env
.venv/
*.sqlite
.derby/

# OS/IDE
.DS_Store
.idea/
.vscode/
